{% extends 'base.html' %}
{% load static %}
{% block head %}
<style>
    img {
    width: 300px;
    height: auto;
    }
</style>
{% endblock head %}

{% block title %}
Sara's Stones
{% endblock title %}
{% block content %}
<h1>Welcome to Sara's Stones, where we can get things!</h1>
<ol>
    {% for stone in stones %}
        <li><a href="{% url 'detail' stone.id %}">{% if stone.checked_out %}{{ stone.current_borrower.name }} has the stone! {% else %}Available : {% endif %}{{ stone.name.title }}</a></li>
        {% if stone.image.filename %}<a target='_blank' href="{% get_static_prefix %}img/{{ stone.image.filename }}"><img src="{% get_static_prefix %}img/{{ stone.image.filename }}"></a>{% endif %}
    {% endfor %}
</ol>
{% endblock content %}
